* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Allt */

#alltIndex {
    font-size: 100%;
    display: flex;
    width: 100vw;
    height: 130vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he dv"
    "a1 a1 a1"
    "a2 a2 a2"
    "a3 a3 a3"
    "d1 d1 d1"
    ;
}

.headerAllaSidor {
    grid-area: he;
    background-color: aqua;
    padding: 3.5%;
    font-size: 2em;
}

#alltIndex h1{
    text-align: center;
}

#alltIndex p{
    text-align: center;
}

#alltIndex article {
    padding: 10%;
}

/* Index sida */

.articleIndex {
    grid-area: a1;
}

.articleIndex2 {
    grid-area: a2;
    text-align: center;
}

.articleIndex3 {
    grid-area: a3;
    text-align: center;
}

.footerDiv {
    display: grid;
    grid-area: d1;
    grid-template-columns: 1fr 0.1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "mp in fb"
    ;
}

.burgerMeny {
    grid-area: dv;
    width: 20%;
}

.lokalisering {
    grid-area: mp;
}

.instagram {
    grid-area: in;
    align-self: flex-end;
}

.facebook {
    grid-area: fb;
    align-self: flex-end;
}

#facebook {
    grid-area: fb;
}

section h2 {
    text-align: center;
}

/* Burger */


.burgerMeny {
    grid-area: dv;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-family: sans-serif;
    width: 100%;
}

.burgerLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: aqua;
    align-items: center;
}

.burgerActive {
    transform: translateY(100vh);
}

.burgerLinks li {
    list-style: none;
}

.burgerLinks a {
    color:rgb(156, 191, 214);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div {
    width: 2em;
    height: 3px;
    background-color:rgb(156, 191, 214);
    margin: 5px;
    border-radius: 10%;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Samverkan */

#alltSamverkan {
    text-align: center;
    font-size: 100%;
    display: flex;
    width: 100vw;
    height: 130vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 0.6fr 3fr 1fr;
    grid-template-areas: 
    "he he dv"
    "SA SA SA"
    "d1 d1 d1"
    ;
}


.innerSamverkan {
    grid-area: SA;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
    grid-template-areas: 
    "h1 h1"
    "h2 h2"
    "s1 s2"
    "s1 s2"
    "s3 s3"
    ;

}


.articleSamverkan1 {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10%;
}


.articleSamverkan2 {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10%;
}

.articleSamverkan3 {
    grid-area: s3;
    margin: 3%;
    margin-left: 40%;
    margin-right: 40%;
}

.headerSamverkan {
    grid-area: h1;
    font-size: 150%;
}

.underHeaderSamverkan {
    grid-area: h2;
    font-size: 150%;
}

.headerSamverkanHusen {
    font-size: 150%;
}

ul {
    background: #ff9999;
    padding: 20px;
  }

/* Galleri */

#alltGalleri {
    font-size: 100%;
    display: flex;
    width: 100vw;
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 0.6fr 3fr 0.5fr;
    grid-template-areas: 
    "he he dv"
    "GA GA GA"
    "d1 d1 d1"
        ;

}

.innerGalleri {

}